@charset "uft-8";
/*整体框架*/
.company {
	margin: 0 auto;
	padding-top: 46px;
	background: #f5f5f5;
}
/*方案内容部分*/
.company_content {
	position: relative;
	width: 1118px;
	height: 1110px;
	padding: 58px 0 0 33px;
	margin: 0 auto;
	background-color: #fff;
}
/*当前位置*/
.company_position {
	position: absolute;
	top: -46px;
	left: 0;
	height: 46px;
	font-family: "Microsoft Yahei";	
	line-height: 46px;
}
.company_position a {
	color: #000;
	font-family: "Microsoft Yahei";	
	text-decoration: none;
}
/*方案导航*/
.company_nav {
	float: left;
	width: 260px;
	height: 267px;
	border-bottom: 1px solid #dcdcdc;
}
.company_nav h3 {
	height: 20px;
	margin-bottom: 23px;
	font-size: 20px;
	font-family: "Microsoft Yahei";	
	font-weight: bold;
}
.company_nav li {
	height: 48px;
	padding-top: 7px;
	border-top: 1px solid #dcdcdc;
	font-family: "Microsoft Yahei";	
}
.company_nav li span {
	display: block;
	height: 40px;
	width: 216px;
	padding-left: 44px;
	background: url("../images/bac.png") 7px -618px no-repeat;
	line-height: 40px;
	color: #000;
	font-style: "Microsoft Yahei";
	cursor: pointer;
}
.company_tit {
	position: relative;
}
.company_nav .square {
	display: block;
	position: absolute;
	z-index: 0;
	height: 40px;
	width: 260px;
	margin-top: 7px;
	background: rgb(157, 157, 157);
	/*透明度兼容*/
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-ms-opacity: 0.5;
	-o-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
  	-webkit-border-radius: 20px; /* Safari 和 Chrome */
	-moz-border-radius: 20px; /* Firefox */
	-ms-border-radius: 20px; /* Firefox */
	-o-border-radius: 20px; /* Firefox */
  	border-radius: 20px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
/*案例列表*/
.company_right h1 {
	font-weight: bold;
	font-size: 20px;
	font-family: "Microsoft Yahei";	
}
/*右边*/
.company_right {
	float: left;
	display: block;
	width: 730px;
	height: 1110px;
	margin-left: 68px;
	background: #fff;
}
.company_right h1 {
	height: 54px;
	text-align: center;
}
.company_right p {
	font-size: 14px;
	line-height: 29px;
	text-indent: 30px;
	font-family: "Microsoft Yahei";	
}
.company_right span {
	float: left;
	width: 669px;
	height: 240px;
	padding: 30px 0 0 59px;
}
.company_right div {
	display: none;
}
.company_right .company_column {
	display: block;
}
.changeone {
	background-color: #ff5a00;
}