@charset 'utf-8';
/* CSS reset */
html{color:#000;background:#FFF;font-family:Arial,'Microsoft Yahei';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft Yahei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:underline; color:#00c; outline:none; text-decoration: none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
/*首页*/
.wrap {
	min-width: 1202px;
	*width: 100%;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}
.header {
	width: 1107px;
	height: 103px;
	margin: 0 auto;
	background-color: #fff;
}

.logo {
	float: left;
	width: 263px;
	height: 74px;
}
.logo img {
	display: block;
	width: 263px;
	height: 74px;
}

.tel {
	float: right;
	padding-left: 20px;
	background: url("../images/bac.png") 0 2px no-repeat;
	font-size: 12px;
	color: #999;
}
.tel em {
	font-size: 18px;
	color: #ff0000;
}

.nav {
	float: right;
	width: 675px;
	position: relative;
	margin-top: 20px;
}
.nav a {
	float: left;
	display: inline;
	height: 60px;
	margin-left: 40px;
	color: #333;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	line-height: 30px;
}
.nav a:hover {
	color: #d80b19;
}
.nav .back {
	overflow: hidden;
	position: absolute;
	display: block;
	bottom: 30px;
	left: 0;
	width: 36px;
	height: 2px;
	margin-left: 40px;
	background-color: #d80b19;
}

.pic a {
	display: block;
	width: 100%;
	height: 220px;
}
.pic a img {
	width: 100%;
	height: 220px;
}

/*底部*/
.footer {
	padding: 25px 0 15px;
	background: url("../images/footer.jpg") 0 0 repeat;
}
.footer_con {
	width: 1040px;
	margin: 0 auto;
}
.footer_left {
	float: left;
	width: 628px;
	height: 148px;
	padding-right: 140px;
	margin-right: 20px;
	border-right: 1px solid #5f5f5f;
	box-shadow: 1px 0 0 #888;
}
.footer_left ul {
	width: 615px;
	margin-bottom: 20px;
}
.footer_left li {
	float: left;
	width: 120px;
	height: 30px;
	margin-right: 3px;
	background-color: #000;
	text-align: center;
} 
.footer_left li:hover {
	background-color: #ff8b00;
}
.footer_left li a {
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	font-family: "Microsoft Yahei";
}

/*友情链接*/
.friendly_link {
	width: 651px;
	margin-left: 10px;
	color: #939393;
	font-size: 12px;
	font-family: "Sim Sun";
}
.friendly_link .first {
	width: 651px;
}
.friendly_link .second {
	width: 445px;
}
.friendly_link .third {
	width: 297px;
}
.friendly_link div a {
	float: left; 
	line-height: 24px;
	color: #939393;
}
.friendly_link div a:hover {
	color: #ff8b00;
}


.footer_right {
	float: left;
	font-size: 12px;
	font-family: "Sim Sun";
}
.footer_right h2 {
	font-size: 14px;
	color: #fff;
	line-height: 24px;
}
.footer_right h2 var {
	font-size: 12px;
	color: #616161;
	line-height: 24px;
}
.footer_right span {
	display: block;
	padding-left: 35px;
	font-size: 12px;
	line-height: 30px;
}
.footer_right .index_tel {
	background: url(../images/bac.png) 0 -306px no-repeat;
}
.footer_right .index_email {
	background: url(../images/bac.png) 0 -337px no-repeat;
}
.footer_right .index_add {
	background: url(../images/bac.png) 0 -366px no-repeat;
}
.footer_right .index_tel em {
	font-size: 14px;
	color: #ff8b00;
	font-family: "Microsoft Yahei";
}
.footer_right .index_email em {
	font-size: 12px;
	color: #c1c1c1;
}
.footer_right .index_add em {
	font-size: 12px;
	color: #fff;
}

/*copyright*/

.copyright {
	height: 34px;
	padding-left: 120px;
	background: url(../images/copyright.jpg) 0 0 repeat;
}

.copyright span {
	display: inline-block;
	padding-left: 30px;
	padding-right: 25px;
	background: url("../images/bac.png") 3px -456px no-repeat;
	font-size: 12px;
	line-height: 34px;
	color: #939393;
	font-family: "Sim sun";
}

.copyright em {
	display: inline-block;
	font-size: 12px;
	line-height: 34px;
	color: #939393;
	font-family: "Sim sun";
}


/*侧边功能栏*/
.case_contact {
	position: fixed;
	z-index: 10;
	top: 200px;
	right: -127px;
	cursor: pointer;
	-webkit-transform: all 0.3s ease;
	-moz-transform: all 0.3s ease;
	-ms-transform: all 0.3s ease;
	-o-transform: all 0.3s ease;
	transform: all 0.3s ease;
}
/*栏样式*/
.contact_bar ul li {
	overflow: hidden;
	width: 180px;
	height: 53px;
	margin-bottom: 3px;
	color: #fff;
	font: 16px/53px 'Microsoft YaHei';
	line-height: 53px;
	text-indent: 54px;
	border-radius: 3px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*各个功能栏背景*/
.contact_bar .contact_top {
	background: #646464 url("../images/bac.png") -578px -330px no-repeat;
}
.contact_bar .contact_phone {
	background: #646464 url("../images/bac.png") -578px -389px no-repeat;
}
.contact_bar .contact_qq {
	background: #646464 url("../images/bac.png") -578px -443px no-repeat;
}
.contact_bar .contact_ercode {
	/*height:200px;*/
	background: #646464 url("../images/bac.png") -578px -498px no-repeat;
}
.contact_qq a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 54px;
	color: #fff;
	text-decoration: none;
}
.contact_ercode img {
	display: block;
	width: 125px;
	padding: 0 29px 25px 29px;
}


/*大图*/
.indexBanner {
	position: relative;
}
.bd {
	overflow: hidden;
	position: relative;
}
.bd {
	position: relative;
	width: 100%;
	height: 540px;
}
.bd li > div {
	position: absolute;
	left: 50%;
}
.bd ul {
	position: relative;
	width: 100%;
	height: 540px;
	margin: 0 auto;
}
.bd li  {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
}

.pico {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: url("../images/dome/pic22.jpg") 50% 0 no-repeat;
}
.pico .picone {
	top: -50px;
	width: 631px;
	height: 598px;
	margin-left: -705px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.pico .pictwo {
	top: 170px;	
	width: 523px;
	height: 178px;
	margin-left: 105px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.pico .pictwo a {
	background: url("../images/dome/pic11.png") no-repeat;
}
.pict .picone a {
	background: url("../images/dome/pic5.png") no-repeat;
}
.picth .picone a {
	background: url("../images/dome/pic14.png") no-repeat;
}
.picf .pictwo a {
	background: url("../images/dome/pic88.png") no-repeat;
}
.bd ul li div a {
	display: block;
	width: 150px;
	height: 35px;
	-webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}
.pictwo a:hover , .picone a:hover {
	margin-left: 20px;
}
.pict {
	width: 274px;
	left: 0px;
	top: 0px;
	background: url("../images/dome/pic11.jpg") 50% 0 no-repeat;
}
.pict .picone {
	width: 721px;
	height: 312px;
	top: 50px;
	margin-left: 50px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.pict .pictwo {
	width: 419px;
	height: 256px;
	top: 100px;
	margin-left: -550px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.picth {
	width: 274px;
	left: 0px;
	top: 0px;
	background: url("../images/dome/pic33.jpg") 50% 0 no-repeat;
}
.picth .picone {
	top: 122px;
	width: 469px;
	height: 234px;
	margin-left: 537px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.picth .pictwo {
	top: 8px;
	width: 604px;
	height: 527px;
	margin-left: 53px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.picf {
	top: 0px;
	left: 0px;
	width: 274px;
	background: url("../images/dome/pic55.jpg") 50% 0 no-repeat;
}
.picf .picone {
	top: 0px;
	width: 594px;
	height: 384px;
	margin-left: -755px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.picf .pictwo { 
	top: 90px;
	width: 478px;
	height: 182px;
	margin-left: 70px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.pico div, .pict div, .picth div, .picf div {
	position: absolute;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}
.indexBanner .hd {
	position: absolute;
	left: 0;
	z-index: 2;
	bottom: 65px;
	width: 100%;
	height: 18px;
}
.btn {
	width: 112px;
	margin: 0 auto;
}
.btn li {
	display: inline;
	float: left;
	width: 18px;
	height:18px;
	margin: 0 5px;
	background: url("../images/bac.png") 0 -1190px no-repeat;
	cursor: pointer;
}
.btn .on {
	background: url("../images/bac.png") -1182px -660px no-repeat;
}


/*黄佳棉*/
/*第一块*/
.index_column {
	width: 1143px;
	height: 462px;
	margin: 0 auto;
	padding-top: 56px;
	background: #fff;
}
.index_column h2 {
	height: 51px;
	font-size: 31px;
	color: #000;
}
.index_column p {
	height: 47px;
	color: #999999;
}
.index_column h2,
.index_column p,
.index_partner h3,
.index_partner span, 
.index_news h3,
.index_news span {
	text-align: center;
	font-family: "Microsoft Yahei";	
}
/* 四个块 */
.index_one,
.index_two,
.index_three {
	float: left;
	width: 296px;
	padding: 0 0 0 10px;
}
.index_four {
	overflow: hidden;
	float: left;
	width: 180px;
	padding: 0 0 0 10px;
}
.index_one dt a,
.index_two dt a,
.index_three dt a,
.index_four dt a {
	display: block;
	width: 205px;
	height: 60px;
	padding-top: 175px;
	background: url("../images/index-1.jpg") no-repeat;
}
.index_two dt a {
	background: url("../images/index-2.jpg") no-repeat;
}
.index_three dt a {
	background: url("../images/index-3.jpg") no-repeat;
}
.index_four dt a {
	background: url("../images/index-4.jpg") no-repeat;
}
.index_one dt a,
.index_one dd ul li a,
.index_two dt a,
.index_two dd ul li a,
.index_three dt a,
.index_three dd ul li a,
.index_four dt a,
.index_four dd ul li a {
	font-size: 14px;
	color: #555555;
}
.index_one dt a b,
.index_two dt a b,
.index_three dt a b,
.index_four dt a b {
	float: left;
	width: 180px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Microsoft Yahei";	
}
.index_one dt a:hover,
.index_one dd ul li a:hover,
.index_two dt a:hover,
.index_two dd ul li a:hover,
.index_three dt a:hover,
.index_three dd ul li a:hover,
.index_four dt a:hover,
.index_four dd ul li a:hover {
	color: #fb9711;
}
.index_one dd,
.index_two dd,
.index_three dd,
.index_four dd {
	float: left;
	width: 296px;
}
.index_four dd div {
	width: 190px;
}
.index_four dd ul {
	width: 296px;
	margin-right: -106px;
}
.index_one dd ul li,
.index_two dd ul li,
.index_three dd ul li,
.index_four dd ul li {
	float: left;
	width: 110px;
	height: 30px;
	color: #555555;
	font-family: "Microsoft Yahei";	
}

/* 第二块 */
.index_summary {
	width: 1143px;
	height: 431px;
	margin: 0 auto;
	padding-top: 66px;
	background: #fff;
}
/*合作伙伴*/
.index_partner {
	float: left;
	width: 639px;
	height: 431px; 
	padding-right: 41px;
}
.index_partner h3,
.index_news h3 {
	float: left;
	width: 626px;
	height: 36px;
	font-weight: bold;
	font-size: 22px;
}
.index_partner span,
.index_news span {
	float: left;
	font-size: 13px;
	color: #777777;
}
.index_partner span {
	width: 626px;
	height: 42px;
}
.index_partner ul {
	width: 639px;
}
.index_partner ul li {
	position: relative;
	float: left;
	width: 115px;
	height: 77px;	
	padding-top: 11px;
	padding-right: 12px;
}
.index_partner ul li img {
	float: left;
	width: 115px;
	height: 77px;
}
.index_partner ul li:hover .cover{
	display: block;
}
.cover {
	display: none;
	position: absolute;
	top: 11px;
	width: 115px;
	height: 77px;
	color: #fff;
	font-size: 20px;
	font-family: "Microsoft Yahei";
	text-align: center;
	line-height: 88px;
	cursor: pointer;
	-webkit-obackground-color: rgba(0, 0, 0, 0.5);
    -moz-background-color: rgba(0, 0, 0, 0.5);
    -ms-background-color: rgba(0, 0, 0, 0.5);
    -o-background-color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.5);
}
/*新闻资讯*/
.index_news {
	float: left;
	width: 463px;
}
.index_news h3 {
	width: 463px;
	height: 36px;
}
.index_news span {
	width: 463px;
	height: 46px;
}
.index_news ul li {
	float: left;
	width: 463px;
	height: 41px;
	border-bottom: 1px dashed #cccccc;
	line-height: 41px;
}
.index_news ul li a {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 354px;
	color: #666;
	font-size: 16px;
	font-family: "Microsoft Yahei";	
}
.index_news ul li a:hover {
	color: #ff8b00;
}
.index_news ul li em {
	float: right;
	width: 100px;
	padding-right: 5px; 
	text-align: right;
	font-size: 12px;
	font-family: "Microsoft Yahei";	
}


/*服务流程图*/
.work_flow {
	position: relative;
	width: 1202px;
	height: 230px;
	margin: 170px auto 150px;
}
/*流程标题*/
.flow_tit {
	position: absolute;
	top: -110px;
	width: 1202px;
	margin: 0 auto;
	text-align: center;
}
.flow_tit h2 {
	height: 30px;
	line-height: 30px;
}
.flow_tit h2 b {
    margin-right: 5px;
	padding-right: 35px;
    font-size: 30px;
	font-family: "Microsoft Yahei";
    color: #d51737;
    background: url(../images/bac.png) -1044px -323px no-repeat;
}
.flow_tit h2 span {
	font-size: 24px;
    font-weight: bold;
    font-family: "Times New Roman";
    color: #adadad;
}
.flow_tit p {
	margin-top: 10px;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    color: #666;
}
/*流程图内容*/
.work_flow .line_ypk {
	position: absolute;
    z-index: 5;
	top: 63px;
	left: 59px;
   	width: 1087px;
    height: 112px;
    background: url(../images/bac.png) 0 -977px no-repeat;
}
.dotone {
	position: absolute;
	z-index: 10;
	left: 3px;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.2;
	-moz-opacity: 0.2;
	-ms-opacity: 0.2;
	-o-opacity: 0.2;
	opacity: 0.2; /* FF 3.5及以上 */  
	filter: alpha(opacity=20); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dottwo_ypk {
	position: absolute;
	top: 100px;
	left: 154px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	-ms-opacity: 0.3;
	-o-opacity: 0.3;
	opacity: 0.3; /* FF 3.5及以上 */  
	filter: alpha(opacity=30); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dotthree_ypk {
	position: absolute;
	top: 10px;
	left: 310px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.4;;
	-moz-opacity: 0.4;;
	-ms-opacity: 0.4;;
	-o-opacity: 0.4;; 
	opacity: 0.4; /* FF 3.5及以上 */  
	filter: alpha(opacity=40); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dotfour_ypk {
	position: absolute;
	top: 100px;
	left: 465px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-ms-opacity: 0.5;
	-o-opacity: 0.5;
	opacity: 0.5; /* FF 3.5及以上 */  
	filter: alpha(opacity=50); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dotfive_ypk {
	position: absolute;
	top: 10px;
	left: 615px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.6;
	-moz-opacity: 0.6;
	-ms-opacity: 0.6;
	-o-opacity: 0.6;  
	opacity: 0.6; /* FF 3.5及以上 */  
	filter: alpha(opacity=60); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dotsix_ypk {
	position: absolute;
	top: 100px;
	left: 770px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	-ms-opacity: 0.7;
	-o-opacity: 0.7; 
	opacity: 0.7; /* FF 3.5及以上 */  
	filter: alpha(opacity=70); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dotseven_ypk {
	position: absolute;
	top: 10px;
	left: 925px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	-ms-opacity: 0.8;
	-o-opacity: 0.8;  
	opacity: 0.8; /* FF 3.5及以上 */  
	filter: alpha(opacity=80); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.doteight_ypk {
	position: absolute;
	top: 100px;
	left: 1074px;
	z-index: 10;
	width: 128px;
	height: 128px;
	background-color: rgb(90, 90, 90);
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	-ms-opacity: 0.9;
	-o-opacity: 0.9;
	opacity: 0.9; /* FF 3.5及以上 */  
	filter: alpha(opacity=90); /* IE6及以上 */ 

	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	-ms-border-radius: 64px;
	-o-border-radius: 64px;
	border-radius: 64px;
}
.dotone .icon_ypk {
    width: 27px;
    height: 33px;
	margin: 32px 0 0 50px;
	background: url(../images/bac.png) -1149px -713px no-repeat;
}
.dottwo_ypk .icon_ypk {
	width: 40px;
    height: 33px;
	margin: 32px 0 0 45px;
	background: url(../images/bac.png) -1149px -747px no-repeat;
}
.dotthree_ypk .icon_ypk {
	width: 40px;
    height: 33px;
	margin: 29px 0 0 40px;
	background: url(../images/bac.png) -1149px -778px no-repeat;
}
.dotfour_ypk .icon_ypk {
	width: 40px;
    height: 41px;
	margin: 25px 0 0 45px;
	background: url(../images/bac.png) -1149px -812px no-repeat;
}
.dotfive_ypk .icon_ypk {
	width: 51px;
    height: 38px;
	margin: 28px 0 0 38px;
	background: url(../images/bac.png) -1149px -854px no-repeat;
}
.dotsix_ypk .icon_ypk {
	width: 51px;
    height: 36px;
	margin: 28px 0 0 50px;
	background: url(../images/bac.png) -1149px -892px no-repeat;
}
.dotseven_ypk .icon_ypk {
	width: 51px;
    height: 36px;
	margin: 28px 0 0 42px;
	background: url(../images/bac.png) -1149px -928px no-repeat;
}
.doteight_ypk .icon_ypk {
	width: 51px;
    height: 38px;
	margin: 28px 0 0 47px;
	background: url(../images/bac.png) -1149px -964px no-repeat;
}
.work_flow h3 {
	padding-top: 10px;
	font-family: "Microsoft Yahei";
	text-align: center;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}
.hide_ypk {
	display: none;
	width: 128px;
	padding-top: 20px;
	text-align: center;
}
.hide_ypk li{
	font-family: "Microsoft Yahei";
	font-size: 12px;
    text-align: center;
    line-height: 24px;
}
.hide_ypk li a {
	color: #fff;
}


/*联系我们*/


.about_contact { 
	overflow: hidden; 
	width: 100%; 
	height: 535px; 
	padding-top: 75px; 
	background: #bd273d url(../images/bac.png) 0 -1300px no-repeat; 
	font-family: "Microsoft YaHei";
}

.about_tit {
    width: 1202px;
	margin: 0 auto;
	text-align: center; 
}

.about_tit h3 { 
	height: 30px; 
	line-height: 30px; 
}

.about_tit h3 b { 
	padding-right: 35px; 
	margin-right: 5px; 
	font-size: 30px; 
	color: #fff; 
    background: url(../images/bac.png) -1044px -323px no-repeat;
}
.about_tit h3 span { 
	font-size: 24px; 
	font-weight: bold; 
	font-family: "Times New Roman"; 
	color: #adadad; 
}
.about_tit .white_word {
    margin-top: 10px;
    color: #fff;
}
.about_ac { 
	margin: 0 auto;
    width: 1202px;
	padding-top: 60px; 
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d; 
	transform-style: preserve-3d; 
}
.ac_way a {
	color: #d51737;
	font-weight: bold;
}
.ltr {
	-webkit-animation: ltr 1s ease forwards;
	-moz-animation: ltr 1s ease forwards;
	-ms-animation: ltr 1s ease forwards;
	-o-animation: ltr 1s ease forwards;  
    animation: ltr 1s ease forwards;
}
@keyframes ltr {
    0% {
        -webkit-opacity: 0;
	    -ms-opacity: 0;
	    -moz-opacity: 0;
	    -o-opacity: 0;
	    opacity: 0;

        filter: alpha(opacity = 0);

    	-webkit-transform: translateX(-30px);
		-moz-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		-o-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    100% {
         -webkit-opacity: 1;
	    -ms-opacity: 1;
	    -moz-opacity: 1;
	    -o-opacity: 1;
	    opacity: 1;

        filter: alpha(opacity = 100);
        
    	-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
        transform: translateX(0);
    }
}
.about_ac_left {
	float: left;
	display: inline;
    padding: 5px;
    width: 490px;
    height: 285px;
    margin-left: 85px;
    margin-right: 20px;
    background-color: #fff;
    font-family: "Microsoft Yahei";

    -webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-ms-transform-origin: right center;
	-o-transform-origin: right center;
    transform-origin: right center;

    -webkit-transform: rotateY(90deg) skewY(20deg);
	-moz-transform: rotateY(90deg) skewY(20deg);
	-ms-transform: rotateY(90deg) skewY(20deg);
	-o-transform: rotateY(90deg) skewY(20deg);
    transform: rotateY(90deg) skewY(20deg);
}
.ac_cardright div img {
	display: block;
	width: 489px;
	height: 285px;
}

.ac_cardright {
	float: left;
    padding: 5px;
    width: 490px;
    height: 285px;
    background-color: #fff;

    -webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
    transform-origin: left center;

    -webkit-transform: rotateY(90deg) skewY(-20deg);
	-moz-transform: rotateY(90deg) skewY(-20deg);
	-ms-transform: rotateY(90deg) skewY(-20deg);
	-o-transform: rotateY(90deg) skewY(-20deg);
    transform: rotateY(90deg) skewY(-20deg);
}
.fanL {
	-webkit-animation: fanL 1s linear forwards;
	-moz-animation: fanL 1s linear forwards;
	-ms-animation: fanL 1s linear forwards;
	-o-animation: fanL 1s linear forwards;
    animation: fanL 1s linear forwards;

}
@-webkit-keyframes fanL {
    0% {
        -webkit-transform: rotateY(90deg) skewY(20deg);
		-moz-transform: rotateY(90deg) skewY(20deg);
		-ms-transform: rotateY(90deg) skewY(20deg);
		-o-transform: rotateY(90deg) skewY(20deg);
	    transform: rotateY(90deg) skewY(20deg);
    }
    100% {
    	-webkit-transform: rotateY(0) skewY(0);
		-moz-transform: rotateY(0) skewY(0);
		-ms-transform: rotateY(0) skewY(0);
		-o-transform: rotateY(0) skewY(0);
        transform: rotateY(0) skewY(0);
    }
}
.fanR {
    -webkit-animation: fanR 1s linear forwards;
	-moz-animation: fanR 1s linear forwards;
	-ms-animation: fanR 1s linear forwards;
	-o-animation: fanR 1s linear forwards;
    animation: fanR 1s linear forwards;
}
@-webkit-keyframes fanR {
    0% {
        -webkit-transform: rotateY(90deg) skewY(-20deg);
		-moz-transform: rotateY(90deg) skewY(-20deg);
		-ms-transform: rotateY(90deg) skewY(-20deg);
		-o-transform: rotateY(90deg) skewY(-20deg);
	    transform: rotateY(90deg) skewY(-20deg);
    }
    100% {
        -webkit-transform: rotateY(0) skewY(0);
		-moz-transform: rotateY(0) skewY(0);
		-ms-transform: rotateY(0) skewY(0);
		-o-transform: rotateY(0) skewY(0);
        transform: rotateY(0) skewY(0);
    }
}

.ac_card {
    position: relative;
    overflow: hidden;
    height: 208px;
    padding: 40px 45px 35px;
    border: 1px solid #e3dadb;
}

.ac_card h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.ac_card h3 b {
    margin-right: 5px;
    color: #d51737;
}
.ac_card p {
    width: 90%;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}

.ac_card .ac_way {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: right;
}
.ac_card:hover .ac_way {
	display: block;
}
.ac_card .ac_way a {
    margin: 0 10px;
}



/*高端网站建设*/
.brand {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 518px;
	background-color: #d6203f;
}

/*白底*/
.rb {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 3;
}
.rb img {
	display: block;
	width: 1011px;
	height: 345px;
}

/*文字*/
.word_box {
	position: absolute;
	left: 671px;
	top: 173px;
	width: 275px;
	height: 92px;
	margin-left: -500px;
	margin-bottom: 10px;
	color: #fff;
	font-family: "Microsoft Yahei";
}
/*文字移动*/
.brand .fixed {
    margin-left: 50px;
}

/*品牌*/
.word_box b {
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 70px;
    font-family: "Microsoft Yahei";
}

.brand b, .brand em, .brand span, .brand p, .img .woman, .brand .tv {
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;

    filter: alpha(opacity = 0);

}

/*展示*/
.word_box em {
	float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 64px;
    font-family: "Microsoft Yahei";
}

/*p*/
.word_box p {
    display: inline;
	float: left;
	margin-bottom: 25px;
    font-size: 14px;
    line-height: 28px;
    font-family: "Microsoft Yahei";
}

.brand p {
    margin-left: 20px;
    
}

/*tv*/
.img .tv {
	position: absolute;
	display: block;
    z-index: 1;
	top: 97px;
    right: 105px;
    width: 438px;
    height: 349px;
}

/*women*/
.img .woman {
	position: absolute;
	display: block;
    z-index: 2;
    top: 159px;
    right: 250px;
    width: 397px;
    height: 411px;
}

/*查看更多*/
.word_box .more {
    display: inline;
	float: left;
    display: block;
    width: 127px;
    height: 32px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #d6203f;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.brand .more {
    margin-left: 30px;

    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;

    filter: alpha(opacity = 0);
}

.word_box .more:hover {
	 background-color: #d6203f;
	 color: #fff;
}

.up {
    -webkit-origin: center center;
    -moz-origin: center center;
    -ms-origin: center center;
    -o-origin: center center;
    origin: center center;

    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/*第二*/
.portal {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 632px;
}

/*图片*/
.portal .tv {
    top: -400px;

    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;

    filter: alpha(opacity = 0);
}

.portal .word_box_second {
    overflow: hidden;
    height: 0;
}
/*白快*/
.lt {
	position: absolute;
	left: 0;
	top: -77px;
	z-index: 2;

}

/*旋转按钮*/
.go_next {
	position: absolute;
	z-index: 9;
    width: 51px;
    height: 51px;
    left: 50%;
    top: 0px;
    margin-left: 25px;
    background: url(../images/bac.png) 0 -1108px no-repeat;
    cursor: pointer;

    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
/*图片*/
.portal .img {
	display: block;
    position: absolute;
    left: 50%;
    top: 140px;
    width: 569px;
    height: 452px;
    margin-left: -556px;
}

/*文字*/
/*定位文字*/
.portal .word_box_second {
    position: absolute;
    top: 170px;
    left: 50%;
    z-index: 9;
    width: 450px;
    margin-left: 85px;
    color: #1C8FB9;
}
.fixed {
	width: 255px;
	margin-bottom: 30px;
} 

/*官方*/
.word_box_second b {
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 70px;
    font-family: "Microsoft Yahei";
}

/*门户*/
.word_box_second em {
	float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 64px;
    font-family: "Microsoft Yahei";
}

/*p*/
.word_box_second p {
	float: left;
	margin-bottom: 25px;
    font-size: 14px;
    line-height: 28px;
    font-family: "Microsoft Yahei";
}
/*a*/
.word_box_second p a {
	color: #1C8fb9;
}
/*more*/
.build_box .word_box_second .more { 
	float: left;
    display: block;
    width: 127px;
    height: 32px;
    border: 1px solid #fff;
    background: #1C8FB9;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.build_box .word_box_second .more:hover {
	border: 1px solid #1C8FB9;
	background: #fff;
	color: #1C8FB9;
}


/*第三*/
.buildCon .market {
	overflow: hidden;
	position: relative;
    width: 100%;
    height: 651px;
    background-color: #47c5a0;
}

/*白快*/
.market .lt {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    margin-left: -954px;
}

.buildCon .lb {
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -954px;
}


/*图片*/
.buildCon .market .img {
    display: block;
    position: absolute;
    width: 894px;
    height: 471px;
    left: 50%;
    top: 140px;
    margin-left: -150px;
}
.market .img img {
	display: block;
    width: 0;
    height: 0;

    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;

    filter: alpha(opacity = 0);
}

/*文字*/
.word_box a {
	color: #fff;
}
.market .word_box {
    overflow: hidden;
    display: none;
    width: 370px;
    height: 250px;
/*
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity = 0);*/
}

/*more*/
.market .word_box .more {
	color: #47c5a0;
}
.market .word_box .more:hover {
	background: #47c5a0;
	color: #fff;
}

/*第四*/
.buildCon .ec {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 647px;
    background-color: #fef8e9;
}

/*绿块*/
.rl {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 3;
}

/*图片*/
.buildCon .ec .img {
    position: absolute;
    left: 50%;
    top: 90px;
    width: 820px;
    height: 335px;
    margin-left: -780px;
}
.buildCon .ec .img .ec_room {
    display: none;
    width: 820px;
    height: 335px;
}
.balloon {
    display: block;
    width: 76px;
    height: 156px;
}

/*气球*/
.buildCon .ec .img .balloon {
    position: absolute;
    display: block;
    width: 76px;
    height: 156px;
    top: 0;
    left: 177px;

    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;


    filter: alpha(opacity = 0);

    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;

    -webkit-animation: change 1s linear 1s infinite alternate;
    -moz-animation: change 1s linear 1s infinite alternate;
    -ms-animation: change 1s linear 1s infinite alternate;
    -o-animation: change 1s linear 1s infinite alternate;
    animation: change 1s linear 1s infinite alternate;
}
@-webkit-keyframes change {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
/*文字*/
.build_box .word_box_fourth {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 255px;
    width: 450px;
    margin-left: 50px;
    color: #fff;
}
.build_box .word_box_fourth {
	display: none;
    height: 227px;
	color: #96b91c;
}
.word_box_fourth p {
	width: 450px;
}
.ec .word_box_fourth a {
    overflow: hidden;
	color: #96b91c;
}


/*more*/
.build_box .word_box_fourth .more {
    display: block;
    width: 127px;
    height: 32px;
    border: 1px solid #96b91c;
    background-color: #96b91c;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.build_box .word_box_fourth .more:hover {
    background-color: #fff;
    border: 1px solid #96b91c;
    color: #96b91c;
}


/*第五*/
.buildCon .infopor {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 498px;
    background-color: #d4aa51;
}


/*图片*/
.buildCon .infopor .img {
    position: absolute;
    left: -250px;
    top: -335px;
    width: 630px;
    height: 391px;
    margin-left: -43px;

    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;

    filter: alpha(opacity = 0);
}
/*文字*/
.buildCon .infopor .word_box {
	display: none;
    overflow: hidden;
    height: 300px;
    top: 84px;
    margin-left: -525px;
}
.buildCon .infopor .word_box  p {
	width: 370px;
}
.build_box .word_box {
    position: absolute;
    left: 50%;
    z-index: 3;
    width: 370px;
    color: #fff;
}

/*品牌*/
.word_tit_fifth {
	width: 340px;
}
.word_tit_fifth b {
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 70px;
    font-family: "Microsoft Yahei";
}
/*展示*/
.word_box em {
	float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 64px;
    font-family: "Microsoft Yahei";
}

.word_tit_fifth span {
	float: left;
}


/*more*/
.infopor .more {
	background: #d4aa51;
	color: #fff;
	border: 1px solid #fff;
}
.infopor .more:hover {
	background: #fff;
	color: #d4aa51;
	border: 1px solid #d4aa51;
}


/*解决方案*/

/*整体框架*/
.case {
	margin: 0 auto;
	padding-top: 46px;
	background: #f5f5f5;
}
/*方案内容部分*/
.case_content {
	position: relative;
	width: 1118px;
	height: 1110px;
	padding: 58px 0 0 33px;
	margin: 0 auto;
	background-color: #fff;
}
/*当前位置*/
.case_position {
	position: absolute;
	top: -46px;
	left: 0;
	height: 46px;
	line-height: 46px;
	font-family: "Microsoft Yahei";
}
.case_position a {
	color: #000;
	font-family: "Microsoft Yahei";
}
/*方案导航*/
.case_nav {
	float: left;
	width: 260px;
	height: 267px;
	border-bottom: 1px solid #dcdcdc;
}
.case_nav h3 {
	height: 20px;
	margin-bottom: 23px;
	font-size: 20px;
	font-family: "Microsoft Yahei";
	font-weight: bold;
}
.case_nav li {
	height: 48px;
	padding-top: 7px;
	border-top: 1px solid #dcdcdc;
	font-family: "Microsoft Yahei";
}
.case_nav li span {
	display: block;
	height: 40px;
	width: 216px;
	padding-left: 44px;
	background: url("../images/bac.png") 7px -618px no-repeat;
	line-height: 40px;
	color: #000;
	font-family: "Microsoft Yahei";	
	cursor: pointer;
}
/*.case_nav .select {
	background: #f5f5f5 url("../images/bac.png") 23px center no-repeat;
}*/
.case_tit {
	position: relative;
}
.case_nav .square {
	display: block;
	position: absolute;
	z-index: 0;
	height: 40px;
	width: 260px;
	margin-top: 7px;
	background: rgb(157, 157, 157);
	/*透明度兼容*/
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; /* Firefox */
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
  	border-radius: 20px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
/*案例列表*/
.case_list {
	float: left;
}
/*导航顺序对应列表页*/
.case_list .bluetooth, .smart, .safety, .mobile{
	position: relative;
	display: none;
	width: 730px;
	height: 1110px;
	margin-left: 68px;
	/*background: #fcc;*/
}
.case_list .change {
	display: block;
}
/*导航方案每个列表*/
.case_list dl {
	overflow: hidden;
	height: 165px;
	padding-top: 19px;
	border-bottom: 1px dotted #ccc;
}
.case_list dt a {
	float: left;
	width: 150px;
	height: 113px;
	padding: 3px;
	border: 1px solid #ccc;
	font-family: "Microsoft Yahei";
}
.case_list dt img {
	display: block;
	width: 150px;
	height: 113px;
}
.case_list dd {
	position: relative;
	overflow: hidden;
	float: left;
	width: 529px;
	height: 165px;
	padding-left: 22px;
}
.case_list dd h3 {
	float: left;
	width: 449px;
	font-size: 20px;
	font-weight: bold;
}
.case_list dd h3 a {
	color: #000;
	font-family: "Microsoft Yahei";
}
.case_list dd em {
	float: right;
	height: 20px;
	line-height: 20px;
	color: #107f8d;
	font-size: 8px;\
	font-family: "Microsoft Yahei";
}
.case_list dd p {
	float: left;
	width: 529px;
	margin-top: 14px;
	color: #999;
	font-size: 12px;
	font-family: "Microsoft Yahei";
}
/*查看全文按钮*/
.case_list .check {
	position: absolute;
	right: 0;
	bottom: 25px;
	height: 21px;
	width: 107px;
	border-radius: 10px;
	line-height: 21px;
	border: 1px solid #d1d2d2;
	color: #000;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);/*字体阴影效果*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);/*盒阴影效果*/
	/*background: #fff;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dadbdb));
    background: -moz-linear-gradient(top,  #fff,  #dadbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 2, startColorstr = #fff, endColorstr = #dadbdb);   
}
.check:hover {
    background: #e1e1e1;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #e1e1e1,  #e1e1e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#e1e1e1');
}
.check:active {
    color: #8e8e8e;
    bottom: 24px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#fff));
    background-image: -moz-linear-gradient(top,  #e3e3e3,  #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#fff');
}
/* 跳转页面数 */
.case_pages {
	position: absolute;
	bottom: 81px;
	left: 223px;
	height: 47px;
}
.case_pages a {
	float: left;
	width: 34px;
	height: 45px;
	border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	line-height: 45px;
	color: #666;
	font-size: 12px;
	font-size: 8px;
	text-align: center;
	text-decoration: none;
}
.case_pages .upages {
	width: 75px;
	border-right: 1px solid #e5e5e5;
}
.case_pages .lpages {
	width: 75px;
}
.case_pages span {
	float: left;
	height: 47px;
	width: 60px;
	color: #666;
	font-size: 12px;
	text-align: center;
	line-height: 47px;
}
/*翻页输入框按键*/
.arrive {
	float: right;
	height: 47px;
	line-height: 47px;
	color: #666;
	font-size: 12px;
}
.arrive .tbpages {
	width: 43px;
	height: 21px;
	margin: 7px 5px;
	vertical-align: middle;
	text-align: center;
}
.arrive .btngo {
	width: 43px;
	height: 21px;
	margin-left: 3px;
}
.changeone {
	background-color: #ff5a00;
}


/*成功案例*/
.all_case_pu {
	position: relative;
	height: 3100px;
	background-color: #eaeaea;
}
.containers {
	position: absolute;
	top: 50px;
	height: 3100px; 
}

.img_show {
	overflow: hidden;
	position: absolute;
	width: 278px;
	top: 0px;
	left: 0px;
	border-bottom: solid 2px #ccc;
	-webkit-transition: all .7s ease-out .1s;
	-moz-transition: all .7s ease-out .1s;
	-ms-transition: all .7s ease-out .1s;
	-o-transition: all .7s ease-out .1s;
	transition: all .7s ease-out .1s;
}

.active {
	 visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
}

.filters li {
	float: left;
	padding: 10px;
	margin-left: 10px;
}
.img_show img { 
	display: block;
	position: relative;
	z-index: 2;
	width: 100%; 
}

.img_show span {
	display: block;
	position: relative;

	z-index: 2;
	padding: 3px 20px;
	background-color: #fff;
}

.img_show a span b {
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 2;
	line-height: 22px;
	color: #999;
	font-size: 12px;
	font-family: "Microsoft YaHei";
}

.img_show em {
	overflow: hidden;
	display: block;
	width: 210px;
	height: 16px;
	margin-bottom: 3px;
	font: normal 14px bold normal;
	white-space:normal;
	color: #333;
	font-family: "Microsoft YaHei";
}

.img_show em>strong  {
	font: normal 14px bold normal;
	white-space:normal;
	color: #df0b19;
	font-family: "Microsoft YaHei";
}
i {
	position: absolute;
	left: 0;
	bottom: 122px;
	width: 100%;
	height: 100%;
	background: #d51737;
	
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.img_show:hover i, .img_show:hover strong, .img_show:hover em, .img_show:hover b {
	bottom: 0;
	color: #fff;
}

.img_show:hover {
	border-color: #d51737;
}
.img_show:hover span {
	background: rgba(255, 255, 255, 0.1);
}
.filters {
	background-color: #eaeaea; 
}
.filters li {
	font: normal 16px bold;
}

.filters li:nth-child(1) {
	margin-left: 4%;
}

.filters li:nth-child(2) {
	color: #d51737;
}



/*新闻资讯*/

/*中间框架*/
.news_main {
	width: 100%;
	background: #f5f5f5;
}
.news_content {
	width: 1155px;
	margin: 0 auto;
}

/*新闻资讯*/
.news_column {
	width: 1155px; 
	height: 168px;
	padding-top: 55px;
	text-align: center;
}
.news_column h2 a {
	height: 54px;
	font-size: 30px;
	color: #ff6600;
	font-family: "Microsoft Yahei";	
}
.news_column p {
	line-height: 57px;
	color: #999999;
	font-family: "Microsoft Yahei";	
}
.news_column ul {
	width: 184px;
	margin: 0 auto;
}
.news_column ul li {
	float: left;
	padding: 0 5px;
}
.news_column ul li a {
	float: left;
	width: 82px;
	height: 28px;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	line-height: 28px;
	color: #000;
	font-family: "Microsoft Yahei";	
}
/*图文介绍*/
.introduce {
	height: 169px;
	padding-top: 31px;
	border-bottom: 1px dashed #000;	
}
/*时间*/
.introduce_time {
	float: left;
	width: 132px;
	height: 170px;
	text-align: center;
}
.introduce_time span {
	display: block;
	font-size: 14px;
	color: #000;
	font-family: "Microsoft Yahei";	
}
.introduce_time em {
	width: 132px;
	font-size: 30px;
	color: #fd6600;
	font-family: "Microsoft Yahei";	
}
/*图片和文字*/
.introduce dl {
	float: left;
	width: 989px;
	height: 140px;
}
.introduce dl dt {
	display: inline;
	float: left;
	width: 200px;
	height: 140px;
	margin: 0 29px;
	font-size: 22px;
}
.introduce dl dt a {
	display: block;
}
.news_content dl dt img {
	display: block;
	width: 200px;
	height: 140px;
}
.introduce dl dd {
	float: left;
}
.introduce dl dd h2 a {
	display: block;
	width: 730px;
	height: 48px;
	font-size: 21px;
	color: #000;
	font-family: "Microsoft Yahei";	
}
.introduce dl dd h2 a:hover,
.news_sidenav a:hover {
	color: #fd6600;
}
.introduce dl dd p {
	width: 730px;
	line-height: 24px;
	font-size: 12px;
	color: #666666;
	overflow:hidden;
	text-overflow:ellipsis;
	font-family: "Microsoft Yahei";	
}
.introduce dl dd a {
	color: #ff6600;
}
/*跳转下一页*/
.news_sidenav {
	height: 85px;
	padding-top: 35px;
	text-align: center;
}

.news_sidenav a {
	color: #000;
	font-family: "Microsoft Yahei";	
}



/*关于我们*/
@charset "uft-8";
/*整体框架*/
.company {
	margin: 0 auto;
	padding-top: 46px;
	background: #f5f5f5;
}
/*方案内容部分*/
.company_content {
	position: relative;
	width: 1118px;
	height: 1110px;
	padding: 58px 0 0 33px;
	margin: 0 auto;
	background-color: #fff;
}
/*当前位置*/
.company_position {
	position: absolute;
	top: -46px;
	left: 0;
	height: 46px;
	font-family: "Microsoft Yahei";	
	line-height: 46px;
}
.company_position a {
	color: #000;
	font-family: "Microsoft Yahei";	
	text-decoration: none;
}
/*方案导航*/
.company_nav {
	float: left;
	width: 260px;
	height: 267px;
	border-bottom: 1px solid #dcdcdc;
}
.company_nav h3 {
	height: 20px;
	margin-bottom: 23px;
	font-size: 20px;
	font-family: "Microsoft Yahei";	
	font-weight: bold;
}
.company_nav li {
	height: 48px;
	padding-top: 7px;
	border-top: 1px solid #dcdcdc;
	font-family: "Microsoft Yahei";	
}
.company_nav li span {
	display: block;
	height: 40px;
	width: 216px;
	padding-left: 44px;
	background: url("../images/bac.png") 7px -618px no-repeat;
	line-height: 40px;
	color: #000;
	font-style: "Microsoft Yahei";
	cursor: pointer;
}
.company_tit {
	position: relative;
}
.company_nav .square {
	display: block;
	position: absolute;
	z-index: 0;
	height: 40px;
	width: 260px;
	margin-top: 7px;
	background: rgb(157, 157, 157);
	/*透明度兼容*/
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-ms-opacity: 0.5;
	-o-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
  	-webkit-border-radius: 20px; /* Safari 和 Chrome */
	-moz-border-radius: 20px; /* Firefox */
	-ms-border-radius: 20px; /* Firefox */
	-o-border-radius: 20px; /* Firefox */
  	border-radius: 20px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
/*案例列表*/
.company_right h1 {
	font-weight: bold;
	font-size: 20px;
	font-family: "Microsoft Yahei";	
}
/*右边*/
.company_right {
	float: left;
	display: block;
	width: 730px;
	height: 1110px;
	margin-left: 68px;
	background: #fff;
}
.company_right h1 {
	height: 54px;
	text-align: center;
}
.company_right p {
	font-size: 14px;
	line-height: 29px;
	text-indent: 30px;
	font-family: "Microsoft Yahei";	
}
.company_right span {
	float: left;
	width: 669px;
	height: 240px;
	padding: 30px 0 0 59px;
}
.company_right div {
	display: none;
}
.company_right .company_column {
	display: block;
}
.changeone {
	background-color: #ff5a00;
}


/*解决方案2*/
/*整体框架*/
.casedetail {
	margin: 0 auto;
	padding-top: 46px;
	background: #f5f5f5;
}
/*方案内容部分*/
.casedetail_content {
	position: relative;
	width: 1118px;
	height: 1759px;
	padding: 58px 0 0 33px;
	margin: 0 auto;
	background-color: #fff;
}
/*当前位置*/
.casedetail_position {
	position: absolute;
	top: -46px;
	left: 0;
	height: 46px;
	line-height: 46px;
	font-family: "Microsoft YaHei";
}
.casedetail_position a {
	color: #000;
	font-family: "Microsoft YaHei";
}
/*方案导航*/
.casedetail_nav {
	float: left;
	width: 260px;
	height: 267px;
	border-bottom: 1px solid #dcdcdc;
}
.casedetail_nav h3 {
	height: 20px;
	margin-bottom: 23px;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.casedetail_nav li {
	height: 48px;
	padding-top: 7px;
	border-top: 1px solid #dcdcdc;
	font-family: "Microsoft YaHei";
}
.casedetail_nav li span {
	display: block;
	height: 40px;
	width: 216px;
	padding-left: 44px;
	line-height: 40px;
	color: #000;
	font-style: "Microsoft Yahei";
	cursor: pointer;
	background: url("../images/case_navball.png") 23px center no-repeat;
}
.casedetail_tit {
	position: relative;
}
.casedetail_nav .square {
	display: block;
	position: absolute;
	z-index: 0;
	height: 40px;
	width: 260px;
	margin-top: 7px;
	background: rgb(157, 157, 157);
	/*透明度兼容*/
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-ms-opacity: 0.5;
	-o-opacity: 0.5;
	opacity: 0.5;

	filter: alpha(opacity=50);
  	-webkit-border-radius: 20px; /* Safari 和 Chrome */
	-moz-border-radius: 20px; /* Firefox */
	-ms-border-radius: 20px; /* Firefox */
	-o-border-radius: 20px; /* Firefox */
  	border-radius: 20px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}



/*详情内容*/
.casedetail_list {
	float: left;
	width: 730px;
	height: 1110px;
	margin-left: 68px;
}
/*方案详情内容——头部标题*/
.casedetail_list dl {
	overflow: hidden;
	height: 126px;
	border-bottom: 1px dotted #ccc;
}
.casedetail_list dt a {
	float: left;
	width: 150px;
	height: 100px;
}
.casedetail_list dt img {
	display: block;
	width: 150px;
	height: 100px;
}
.casedetail_list dd {
	position: relative;
	overflow: hidden;
	float: left;
	width: 529px;
	height: 126px;
	padding-left: 22px;
}
.casedetail_list dd h3 {
	float: left;
	width: 529px;
	color: #000;
	font-size: 26px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}
.casedetail_list dd em {
	float: left;
	height: 20px;
	margin-top: 10px;
	line-height: 20px;
	color: #107f8d;
	font-size: 10px;
	font-family: "Microsoft YaHei";
}
/*方案详情内容——文本内容*/
.text p {
	line-height: 25px;
	color: #333;
	font-size: 14px
	font-family: "Microsoft YaHei";
}
.text img {
	display: block; 
	margin: 15px 0;
}
.text_one em {
	display: block;
	margin: 41px 0 10px 0;
	color: #323232;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.textone_list span {
	display: block;
	line-height: 25px;
	color: #333;
	font-size: 14px
	font-family: "Microsoft YaHei";
}
.text_two em {
	display: block;
	margin: 0 0 10px 0;
	color: #323232;
	font-size: 14px;
	font-family: "Microsoft YaHei";
} 
.text_three em {
	display: block;
	margin: 10px 0 10px 0;
	color: #323232;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.text_three .small_tit {
	line-height: 25px;
	color: #333;
	font-size: 14px
	font-family: "Microsoft YaHei";
}
.textthree_list span {
	display: block;
	line-height: 25px;
	color: #333;
	font-size: 14px
	font-family: "Microsoft YaHei";
}
.text_three b {
	display: block;
	line-height: 25px;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}


/*新闻资讯2*/
@charset "uft-8";
/*中间框架*/
.news_box {
	width: 100%;
	background: #f5f5f5;
}
.infor_page {
	width: 1180px;
	height: 1228px;
	padding: 0 11px;
	margin: 0 auto 20px;
}
.infor_page span {
	line-height: 45px;
	font-size: 12px;
	font-family: "Microsoft Yahei";	
}
/*大标题*/
.infor_column {
	display: block;
	width: 1180px;
	height: 103px;
	padding-top: 77px;
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
}
.infor_column h1 {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	font-family: "Microsoft Yahei";	
}
.infor_column em {
	width: 818px;
	padding-left: 362px;
	line-height: 63px;
	color: #999999;
}
.infor_column em span {
	margin-right: 95px;
	font-family: "Microsoft Yahei";	
}
/*文本*/
.infor_main {
	width: 1024px;
	height: 1046px;
	padding: 39px 78px 0;
	background: #fff;
	text-indent: 32px;
}
.infor_main p,
.infor_main span {
	font-size: 13px;
	line-height: 22px;
	font-family: "Microsoft Yahei";	
}
.infor_main span {
	display: block;
	height: 105px;
	padding-top: 15px;
}
.infor_main h3 {
	height: 75px;
	line-height: 75px;
	font-weight: bold;
	font-size: 15px;
	font-family: "Microsoft Yahei";	
}
/*下一篇*/
.infor_footer {
	height: 31px;
}
.infor_footer_left {
	float: left;
	width: 400px; 
	height: 31px;
	color: #000;
	text-decoration: none;
	font-weight: normal;
	font-family: "Microsoft Yahei";	
}
.infor_footer_right {
	float: right;
	width: 400px;
	height: 31px;
	color: #000;
	text-decoration: none;
	font-family: "Microsoft Yahei";	
}
.infor_footer_left:hover,
.infor_footer_right:hover {
	color: #ff8a00;
} 


/*联系我们*/
.wrap {
	min-width: 1202px;
	*width: 100%;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}
.btm_contact {
	width: 100%;
    height: 146px;
    background: #bc273d;
    overflow: hidden;
}
.btm_contact dl {
	width: 1202px;
	margin: 0 auto;
	padding-top: 33px;
}
.btm_contact dt {
	float: left;
	width: 200px;
	margin-right: 75px;
	color: #fff;
}
.btm_contact dt b {
	font-family: "Times New Roman";
	font-size: 40px;
	font-weight: bold;
}
.btm_contact dt p {
	font-family: "Microsoft Yahei";
}
.btm_contact dd {
	float: left;
	width: 480px;
}
.btm_contact .btm_iconbox{
	float: left;
    width: 77px;
    height: 77px;
    background-color: #B70C27;
    text-align: center;
    font-size: 14px;
    color: #eee1e3;
}
.btm_iconbox span {
	display: block;
    width: 29px;
    height: 31px;
	margin: 11px auto 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.btm_contact:hover .btm_iconbox span {
    -webkit-transform:  rotate(-20deg);
	-webkit-transition: all 0.7s ease;
}
.btm_contact dd .btm_info {
	margin-left: 88px;
    padding-top: 11px;
    color: #fff;
		font-family: "Microsoft Yahei";
}
.btm_info b {
	font-size: 24px;
		color: #fff;
}
.btm_info p {
	font-size: 14px;
	font-family: "Microsoft Yahei";
}
/*联系我们*/
.wrap {
	min-width: 1202px;
	*width: 100%;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}
.btm_contact {
	width: 100%;
    height: 146px;
    background: #bc273d;
    overflow: hidden;
}
.btm_contact dl {
	width: 1202px;
	margin: 0 auto;
	padding-top: 33px;
}
.btm_contact dt {
	float: left;
	width: 200px;
	margin-right: 75px;
	color: #fff;
}
.btm_contact dt b {
	font-family: "Times New Roman";
	font-size: 40px;
	font-weight: bold;
}
.btm_contact dt p {
	font-family: "Microsoft Yahei";
}
.btm_contact dd {
	float: left;
	width: 480px;
}
.btm_contact .btm_iconbox{
	float: left;
    width: 77px;
    height: 77px;
    background-color: #B70C27;
    text-align: center;
    font-size: 14px;
    color: #eee1e3;
}
.btm_iconbox span {
	display: block;
    width: 29px;
    height: 31px;
	margin: 11px auto 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.btm_contact:hover .btm_iconbox span {
    -webkit-transform:  rotate(-20deg);
	-webkit-transition: all 0.7s ease;
}
.btm_contact dd .btm_info {
	margin-left: 88px;
    padding-top: 11px;
    color: #fff;
		font-family: "Microsoft Yahei";
}
.btm_info b {
	font-size: 24px;
		color: #fff;
}
.btm_info p {
	font-size: 14px;
	font-family: "Microsoft Yahei";
}